<h1>Friends list</h1>

<% friends.forEach((friend) => { %>
    <li><%= friend %> My Friend!</li>
<% }) %>

<form action="/addFriend" method="POST">
    <input type-"text" name="name" placeholder="name">
    <input type="submit" value="I made a friend!">
</form>